@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700&lang=en");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic&lang=en");

.album-content {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    color: #AAA;
    margin-bottom: 20px;
}
.box_content {	
    border: 1px solid #2c2c2c;
}
.player_box {
    padding: 20px 20px 0 20px;
    background: #212121;
}
.ttw-music-player {
    
}

.player.jp-interface {
    border-bottom: 1px solid #303030;
    padding-bottom: 11px;
}

.ttw-music-player .player {
    width: 100%;
}

/** Album Cover **/
.ttw-music-player .album-cover {
    display: none;
}

/** Track Info **/
.ttw-music-player .track-info {
    padding: 0px 2px;
    font-size: 12.5px;
    color: #777777;
    display: none;
}

.ttw-music-player .track-info p {
    margin: 0 0 8px 0;
}

.ttw-music-player .player .title {
    float:left;
}

.ttw-music-player .player .jp-current-time {
    float:left;
}

.ttw-music-player .artist-outer {
    display: none;
}

.ttw-music-player .artist {
    color: #999;
    font-family: 'Lato', arial, sans-serif;
    margin-left: 4px;
}

.ttw-music-player .rating {
    width: 75px;
    height: 16px;
}

.ttw-music-player .rating-star {
    width: 15px;
    height: 16px;
    display: block;
    float: left;
    background: transparent url(../images/player/rating-off.png) no-repeat center center scroll;
    cursor: pointer;
}

.ttw-music-player .rating-star:hover,
.ttw-music-player .rating-star.on,
.ttw-music-player .rating-star.hover {
    background: transparent url(../images/player/rating-on.png) no-repeat center center scroll;
}

/** Player **/
.ttw-music-player .player-controls {
    width: 100%;
    margin-bottom: 10px;
}

.ttw-music-player .player-controls .main {
    width: 30%;
    margin-right:2%;
    float: left;
}

.ttw-music-player .player-controls div {
    float: left;
    cursor: pointer;
}

.ttw-music-player .previous, .ttw-music-player .next {
    padding: 15px;
    margin-right: 5px;
    border-radius: 100px;
    margin-top:5px;

}

.ttw-music-player .play, .ttw-music-player .pause {
    padding: 20px;
    border-radius: 100px;
    margin-right:6px;
}

.ttw-music-player .previous {
    background: url(../images/player/player-previous.png) no-repeat center center #000000 ;
}

.ttw-music-player .next {
    background:  url(../images/player/player-next.png) no-repeat center center #000000 ;
}

.ttw-music-player .play {
    background:  url(../images/player/player-play.png) no-repeat center center #000000 ;
}

.ttw-music-player .pause {
    background:  url(../images/player/player-pause.png) no-repeat center center #000000 ;
}

.ttw-music-player .progress-wrapper {
    margin-top: 8px;
    background: #000000 ;
    
    width: 68%;
    float: right;
    position: relative;
}

.ttw-music-player .progress {
    cursor: pointer;
    height: 12px;
    margin-bottom: 0px; /* HTF Added */
    background: none;
    border: 0;
}

.ttw-music-player .duration-time {
	line-height: 21px;
    font-size: 12px;
    width: 68%;
}

.ttw-music-player .duration-time .jp-duration {
    float: right;}

.ttw-music-player .elapsed {
    height: 10px;
    margin: 1px;
    width: 60%;
    background: #8222b3;
}

.ttw-music-player .unused-controls {
    display: none !important;
}

/** Description **/
.ttw-music-player .description {
    display: none;
}



/** Track List **/
.ttw-music-player .tracklist {
    font-size: 12px;
    color: #777777;
}

.ttw-music-player .tracklist ol {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    font-size: 110%;
    
}

.ttw-music-player .tracklist li {
    border-bottom: 1px solid #303030;
    padding: 10px 0 12px 0;
    list-style-position: inside;
    position: relative;
    margin: 0px;
}
.ttw-music-player .tracklist li:last-child {
	border: none;
}

.ttw-music-player .tracklist li:hover {
    color: #eee;
}

.ttw-music-player li:last-child{
    background: none;
}

.ttw-music-player .show-more-button li:last-child{
    background: transparent url(../images/player/tracklist-item-bg.png) repeat-x bottom left scroll;
}



.ttw-music-player .tracklist .title {
    width: auto;
    min-width: 200px;
    margin-right: 10px;
    display: inline-block;
    padding: 0 0 0 14px;
    cursor: pointer;
}

.ttw-music-player li:nth-child(1n + 10) .title{
    padding-left:7px;
}

.ttw-music-player li.playing {
    color:#fff !important;

}

.ttw-music-player .tracklist .rating {
    margin-left: 10px;
    width: 30px;
    display: block;
    position: absolute;
    right: 72px;
    top: 12.5px;
}

.ttw-music-player .rating-bar {
    height: 10px;
    width: 3px;
    display: block;
    float: left;
    cursor: pointer;
    background: transparent url(../images/player/rating-bar.png) no-repeat 0 0 scroll;
}

.ttw-music-player .rating-bar.on,
.ttw-music-player .rating-bar:hover,
.ttw-music-player .rating-bar.hover {
    background: transparent url(../images/player/rating-bar-on.png) no-repeat 0 0 scroll;
}

.ttw-music-player .buy {
    width: 130px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 0;
    margin: 4px 0 0 10px;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    text-shadow: none;
    color: #999;
    text-decoration: none;
    text-align: right;
}

.ttw-music-player .buy a i {
    font-size: 14px;
	display: inline-block;
	opacity: .75;
	margin: 0 .25rem 0 0;
	width: 1.23em;
	font-weight: 400;
	text-align: center;
}

.ttw-music-player .buy a{
    color: #999;
}

.ttw-music-player .buy a:hover{
    color: #ffffff;
}

.ttw-music-player .buy:hover {
    color: #eee;
}

.ttw-music-player .buy.not-active{
    display:none;
}

.ttw-music-player .more {
    display:none;
    font-style: italic;
    font-size: 11px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
    padding: 10px 0 0;
    margin: 0px 0 0;
    cursor: pointer;
}

.ttw-music-player .show-more-button .more{
    display:block;
}

.ttw-music-player .show-more-button .more:hover {
    color: #fff;
}


/** Transitions **/
.ttw-music-player .more,
.ttw-music-player .album-cover .highlight,
.ttw-music-player .tracklist li,
.ttw-music-player .buy {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */
.ttw-music-player .player:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.ttw-music-player .tracklist .rating, .ttw-music-player .rating {
    display: none;
}



